pandas==2.1.4
numpy==1.24.3
scikit-learn==1.3.2
matplotlib==3.7.2
seaborn==0.12.2
mlflow==2.7.1
pytest==7.4.3
fastapi==0.104.1
uvicorn==0.24.0
woe==0.1.5  
flake8==6.1.0
mlflow==2.7.1
xgboost==1.7.6  # For XGB
pytest==7.4.3